@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="background-color: white; border: 2px solid white; border-radius: 10px; margin-bottom: 20px; padding: 0 8px 0 8px;">
    <h2>Welcome!</h2>
    <p>
       
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio vitae aliquid cupiditate, repellat eius accusamus nulla mollitia voluptatum, sint est deserunt sit dicta quas unde corporis nostrum! Harum mollitia possimus quasi laudantium totam eum expedita nisi sit. Voluptates architecto nobis quo iure, sapiente possimus hic officiis rerum minima reprehenderit numquam.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio vitae aliquid cupiditate, repellat eius accusamus nulla mollitia voluptatum, sint est deserunt sit dicta quas unde corporis nostrum! Harum mollitia possimus quasi laudantium totam eum expedita nisi sit. Voluptates architecto nobis quo iure, sapiente possimus hic officiis rerum minima reprehenderit numquam.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, debitis amet? Quos quia amet cumque est nihil natus laborum necessitatibus!</p>
</div>